.husky/_
packages/app-info/**/*.d.*
packages/crash-handler/**/*.d.*
packages/errors/**/*.d.*
packages/eslint-config/**/*.d.*
packages/fetch-error-handler/**/*.d.*
packages/log-error/**/*.d.*
packages/logger/**/*.d.*
packages/middleware-log-errors/**/*.d.*
packages/middleware-render-error-info/**/*.d.*
packages/opentelemetry/**/*.d.*
packages/serialize-error/**/*.d.*
packages/serialize-request/**/*.d.*
coverage
node_modules/
resources/logos/dist
